<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662723388518-4859et828iqtbelketf64sast7ah1q79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662723388518-4859et828iqtbelketf64sast7ah1q79</string>
	<key>API_KEY</key>
	<string>AIzaSyDgAqGDL1FjackYmJArDgC6EArI2zkOsnw</string>
	<key>GCM_SENDER_ID</key>
	<string>662723388518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yukon.fishcounter</string>
	<key>PROJECT_ID</key>
	<string>fish-counter-55a99</string>
	<key>STORAGE_BUCKET</key>
	<string>fish-counter-55a99.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662723388518:ios:4ffaa185456264796079a7</string>
</dict>
</plist>